<nz-card nzBordered="false">
    <nz-tabset>
        <nz-tab nzTitle="登录">
            <form nz-form [formGroup]="formLogin" (ngSubmit)="submitFormLogin()" nzLayout="horizontal">
                <nz-form-item>
                    <nz-form-label nzRequired nzFor="userName">用户名</nz-form-label>
                    <nz-form-control nzErrorTip="请输入用户名">
                    <nz-input-group>
                        <input type="text" nz-input formControlName="userName" placeholder="请输入用户名" />
                    </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzRequired nzFor="password">密码</nz-form-label>
                    <nz-form-control nzErrorTip="请输入密码">
                    <nz-input-group>
                        <input type="password" nz-input formControlName="password" placeholder="请输入密码" />
                    </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control>
                    <label nz-checkbox formControlName="remember">
                        <span>记住用户</span>
                    </label>
                    <a style="float: right;">忘记密码</a>
                    <button nz-button style="width: 100%;" [nzType]="'primary'">登录</button>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </nz-tab>
        <nz-tab nzTitle="注册">
            <form nz-form [formGroup]="formReg" (ngSubmit)="submitFormReg()">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">邮箱</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入正确的邮箱地址！">
                    <input nz-input formControlName="email" id="email" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="studentId">学号</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请正确输入您的学号！">
                    <input nz-input formControlName="studentId" id="studentId" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>密码</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入密码">
                        <input nz-input type="password" id="password" formControlName="password" (ngModelChange)="updateConfirmValidator()"/>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>确认密码</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
                        <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
                    <ng-template #errorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                        请再次输入密码！
                        </ng-container>
                        <ng-container *ngIf="control.hasError('confirm')">
                        您输入的密码与之前设定的不符，请重新确认！
                        </ng-container>
                    </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nickname" nzRequired>昵称</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请设置昵称！">
                    <input nz-input id="nickname" formControlName="nickname" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>移动电话</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="formReg.controls['phoneNumber']" nzErrorTip="请输入您的移动电话，您的电话号码将用于忘记密码时找回密码。">
                    <nz-input-group>
                        <input formControlName="phoneNumber" id="'phoneNumber'" nz-input />
                    </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                
                
                <nz-form-item nz-row class="register-area">
                    <nz-form-control [nzSpan]="14" [nzOffset]="6">
                    <label nz-checkbox formControlName="agree">
                        <span>我已阅读并同意<a>解忧杂货店服务条例</a>与<a>知情同意书</a></span>
                    </label>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row class="register-area">
                    <nz-form-control [nzSpan]="14" [nzOffset]="6">
                    <button nz-button nzType="primary">注册</button>
                    </nz-form-control>
                </nz-form-item>
                </form>
        </nz-tab>
    </nz-tabset>
</nz-card>